---
import Social from './Social.astro';
---
<footer class="px-4 py-2.5 max-w-7xl mx-auto py-7 text-center lg:text-left">
    <div class="py-3 border-t-2 border-gray-200">
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="block mt-1 text-sm leading-6 text-gray-500">© 2023 Matt Bourne - All Rights Reserved.</span>
            <ul class="flex flex-wrap items-center lg:mt-1 mt-3 justify-center lg:justify-end">
                <li>
                    <a class="lg:p-1 p-3 lg:px-4 text-xl leading-6 text-gray-600 hover:text-brand-blue transition ease-in-out duration-150 pointer-events-auto" href="mailto:hello@mattbourne.co.uk"><i class="fa-solid fa-envelope"></i></a>
                </li>
                <Social platform="twitter" username="matt_bourne_dev" />
				<li>
                    <a class="lg:p-1 p-3 lg:px-4 text-xl leading-6 text-gray-600 hover:text-brand-blue transition ease-in-out duration-150 pointer-events-auto" href="https://www.linkedin.com/in/matt-bourne-4667aa133"><i class="fa-brands fa-linkedin"></i></a>
                </li>
                <Social platform="github" username="iammattbourne" />
				<li>
                    <a class="lg:p-1 p-3 lg:px-4 text-xl leading-6 text-gray-600 hover:text-brand-blue transition ease-in-out duration-150 pointer-events-auto" href="https://codepen.io/iammattbourne"><i class="fa-brands fa-codepen"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<script>
	declare global {
		interface Window {
			netlifyIdentity: any;
		}
	}
	
	if (window.netlifyIdentity) {
	  window.netlifyIdentity.on("init", ((user: any) => {
		if (!user) {
		  window.netlifyIdentity.on("login", () => {
			document.location.href = "/admin/";
		  });
		}
	  }));
	}
</script>