---
import { Image } from '@astrojs/image/components';
import logo from '../assets/images/mattBourneLogo.svg';
---

<a href="/" class="flex items-center">
    <Image src={logo} height={96} class="mr-3 w-auto lg:h-24 h-16" aspectRatio="85:96" alt="Matt Bourne Logo" />
</a>