--- 
---
<a href="/" class="flex items-center">
    <img src="../src/assets/images/mattBourneLogo.png" class="mr-3 lg:h-24 h-16" alt="Matt Bourne Logo" />
    <span class="self-center text-2xl text-gray-900 font-semibold whitespace-nowrap ml-1 lg:block hidden">Matt Bourne<p class="text-xs text-gray-500">Web Developer</p></span>

</a>