---
import NavigationLinks from './NavigationLinks.astro';
---
<div class="flex items-center lg:order-2 lg:hidden block" x-data="{ open: false }">
    <nav x-data="{ open: false }">
        <button data-collapse-toggle="mobile-menu" type="button" class="inline-flex items-center p-2 ml-1 text-gray-500 w-10 h-10 relative focus:outline-none bg-white" aria-controls="mobile-menu" aria-expanded="false" @click="open = !open">
            <span class="sr-only">Open main menu</span>
            <div class="block w-5 absolute left-1/2 top-1/2   transform  -translate-x-1/2 -translate-y-1/2">
                <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'rotate-45': open,' -translate-y-1.5': !open }"></span>
                <span aria-hidden="true" class="block absolute  h-0.5 w-5 bg-current   transform transition duration-500 ease-in-out" :class="{'opacity-0': open } "></span>
                <span aria-hidden="true" class="block absolute  h-0.5 w-5 bg-current transform  transition duration-500 ease-in-out" :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
            </div>
        </button>
    </nav>
</div>





<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    

<div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu">
    <ul class="navMenu flex flex-col mt-4 font-medium lg:flex-row lg:space-x-2 lg:mt-0 lg:h-auto h-screen">
        <NavigationLinks />
    </ul>
</div>
