---
const { pageTitle, pageIntro } = Astro.props;
---

<div class="text-center max-w-2xl mx-auto">
    <h1 class="lg:text-4xl text-2xl leading-10 tracking-tight font-extrabold text-gray-900">{pageTitle}</h1>
    <p class="lg:mt-4 mt-2 lg:text-xl text-base lg:leading-7 leading-6 text-gray-500 max-w-xl mx-auto">{pageIntro}</p>
</div> 