---
const { pageTitle, publishedDate } = Astro.props;
---
<div class="w-full text-center mx-auto">
    <h1 class="w-full font-bold lg:text-4xl text-3xl leading-loose text-gray-900 font-heading lg:mb-4 mb-2">{pageTitle}</h1>
    <p class="lg:text-xl text-l font-light text-gray-500 max-w-xs lg:max-w-none mx-auto">Published on {publishedDate}</p>
</div> 
