---
const { platform, username } = Astro.props;
---
<li>
    <a class="lg:p-1 p-3 lg:px-4 text-xl leading-6 text-gray-500 hover:text-brand-blue transition ease-in-out duration-150 pointer-events-auto" href={`https://www.${platform}.com/${username}`}><i class={`fa-brands fa-${platform}`}></i></a>
</li>
