---
import '../styles/output.css';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { pageTitle, pageIntro } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css"  rel="stylesheet" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <script is:inline src="https://kit.fontawesome.com/442ee84739.js" crossorigin="anonymous"></script>
    </head>
	<body class="bg-white">
		<Header />
        <section class="lg:pt-4 pt-3 pb-8 px-4 sm:px-4 lg:px-6 max-w-7xl mx-auto">
            <div class="text-center max-w-2xl mx-auto">
                <h1 class="lg:text-4xl text-2xl leading-10 tracking-tight font-extrabold text-gray-900">{pageTitle}</h1>
                <p class="lg:mt-5 mt-2 lg:text-xl text-base lg:leading-7 leading-6 text-gray-500 ">{pageIntro}</p>
            </div> 
            <slot />
        </section>
		<Footer />
        <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
	</body>
</html>
